<%= stylesheet_link_tag "register" %>
<%= javascript_pack_tag "registerjs" %>

<body>
    <div class="signup-form">
        <form id="form" action="<%= post_register_path %>" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <h2>Đăng Ký Tài Khoản!</h2>
            <p class="hint-text">Đăng Nhập Bằng Facebook Or Google</p>
            <div class="social-btn text-center">
                <a href="#" class="btn btn-primary btn-lg"><i class="fab fa-facebook"></i> Facebook</a>
                <a href="#" class="btn btn-danger btn-lg"><i class="fab fa-google"></i> Google</a>
            </div>
            <div class="or-seperator"><b>or</b></div>
            <div class="form-group">
                <input type="text" id="name" class="form-control input-lg" name="user[name]" placeholder="Tên Của Bạn" required="required">
                <p class="alert" id='val-name' role="alert"></p>
            </div>
            <div class="form-group">
                <input type="email" id="email" class="form-control input-lg" name="user[email]" placeholder="Địa chỉ Email" required="required">
                <p class="alert" id='val-email' role="alert"></p>
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control input-lg" name="user[password]" placeholder="Password" required="required">
                <p class="alert" id='val-pass' role="alert"></p>
            </div>
            <div class="form-group">
                <input type="password" id="confirm-password" class="form-control input-lg" name="user[re_password]" placeholder="Nhập lại Password" required="required">
                <p class="alert" id='val-cfpass' role="alert"></p>
            </div>
            <div class="form-group">
                <button type="submit" onsubmit="return checkSubmit()" class="btn btn-success btn-lg btn-block signup-btn">Đăng Ký</button>
            </div>
        </form>
        <div class="text-center">Nếu Bạn Đã Có Tài Khoản <a href="<%= login_path%>">Hãy Đăng Nhập</a></div>
    </div>
</body>