<%= stylesheet_link_tag "home" %>
<%= javascript_pack_tag "navbar" %>
<nav>
    <div class="menu-icon">
        <span class="fas fa-bars"></span></div>
    <div class="logo">
        Blog</div>
    <div class="nav-items">
        <li><a href="#">Ruby</a></li>
        <li><a href="#">Java</a></li>
        <li><a href="#">Html</a></li>
        <% if log_in? %>
          <li><a href="#"><%= 'Xin chào : ' + current_user.name %></a></li>
          <li><%= link_to  "Đăng Xuất", logout_path, method: :delete %></li>
        <%else%>
          <li><%= link_to  "Đăng Nhập", login_path %></li>
          <li><%= link_to  "Đăng Ký", register_path%></li>
        <%end%>
    </div>
    <div class="search-icon">
        <span class="fas fa-search"></span></div>
    <div class="cancel-icon">
        <span class="fas fa-times"></span></div>
    <form action="#">
        <input type="search" class="search-data" placeholder="Search" required>
        <button type="submit" class="fas fa-search"></button>
        <li>
    </form>
</nav>
<script>
    const menuBtn = document.querySelector(".menu-icon span");
    const searchBtn = document.querySelector(".search-icon");
    const cancelBtn = document.querySelector(".cancel-icon");
    const items = document.querySelector(".nav-items");
    const form = document.querySelector("form");
    menuBtn.onclick = () => {
        items.classList.add("active");
        menuBtn.classList.add("hide");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
    }
    cancelBtn.onclick = () => {
        items.classList.remove("active");
        menuBtn.classList.remove("hide");
        searchBtn.classList.remove("hide");
        cancelBtn.classList.remove("show");
        form.classList.remove("active");
        cancelBtn.style.color = "#ff3d00";
    }
    searchBtn.onclick = () => {
        form.classList.add("active");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
    }
</script>